.Table-container {
    margin-top: 70px;
    width: 630px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 70px auto 0; 
}

.Table-input-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.input-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Table-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

Table {
    width:  100%;
    font-size: 15px;
}
th,td {
    padding: 5px;
}
thead {
    background-color: black !important;
    color: white
}
.icon-btn {
    color: black;
    width: 20px;
}
.icon-btn:hover {
    color: red;
    transform: scale(1.1);
}
.icon-btn:active {
    color: greenyellow;
    transform: scale(0.8);
}
th:nth-child(1) {
    width: 80px;
}
th:nth-child(2) {
    width: 40px;
}
th:nth-child(3) {
    width: 60px;
}
th:nth-child(4) {
    width: 50px;
}
th:nth-child(5) {
    width: 70px;
}
th:nth-child(6) {
    width: 90px;
}
th:nth-child(7) {
    width: 30px;
}
.sort-select {
    width: 130px;
    padding: 4px;
    margin: auto;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    box-shadow:0 10px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #50bce0;
}


@media (max-width: 800px) {
    th,td {
        padding: 2px;
    }
    .Table-container {
      margin-top: 5px;
      width: 360px;
      gap: 5px;
    }
    Table {
        width:  100%;
        font-size: 10px;
    }
    button {
        font-size: smaller;
    }
    input {
        font-size: smaller !important;
    }
}